# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ralina Tsykunova\Desktop\Itlogia\4 блок. Библиотеки и плагины\jQuery(Эффекты, плагины и библиотеки).Урок 35\Домашняя работа\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
